.login-form {
  border-radius: 4px;
  box-shadow: 5px 5px 30px grey;
  padding: 1em;
  transform: translateY(50%); }

.signup-form {
  border-radius: 4px;
  box-shadow: 5px 5px 30px grey;
  padding: 1em;
  transform: translateY(50%); }

ul {
  padding-left: 0px;
  text-decoration: none; }

a {
  color: black; }
  a:hover {
    color: #0d0d0d; }

.error {
  color: red; }
